@font-face {
   font-family: 'Roboto';
   src: url('../fonts/Roboto-Regular.eot');
   src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto-Regular.woff2') format('woff2'),
       url('../fonts/Roboto-Regular.woff') format('woff'),
       url('../fonts/Roboto-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: 'Roboto Slab';
   src: url('../fonts/RobotoSlab-Bold.eot');
   src: url('../fonts/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
       url('../fonts/RobotoSlab-Bold.woff') format('woff'),
       url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
} 
body{
   padding: 50px 100px;
   margin: 0;
   min-width: 990px;
   font: 400 14px "Roboto";
}
input,
select,
textarea{
   box-sizing: border-box;
}
.clear:after{
   content: "";
   display: block;
   clear: both;
}
.wrapper{
   margin: 0 auto;
   max-width: 990px;
}
.row{
   display: block;
}
.column{
   display: inline-block;
   width: 330px;
   vertical-align: middle;
}
.begining h1{
   padding: 0  0 36px;
   font-size: 30px;
   font-weight: 700;
   text-align: center;
   font-family: "Roboto Slab"; 
   color: #1f222c;
}
h2{
   font-size: 20px;
   letter-spacing: 0px;
   color: #b3b3b3;
   text-transform: uppercase;
   font-weight: 700;
}
.forms{
   padding-left: 125px;
   display: inline-block;
}
.form1 input{
   padding: 0 16px;
   margin: 10px 0;
   width: 330px;
   height: 40px;
   border-radius: 3px;
   border: 1px solid #ccc;
   outline: none;
   font-size: 14px;
   font-weight: 400;
}
.form1 textarea:hover,
.form1 select:hover,
.form1 input:hover{
   border-radius: 3px;
   filter: drop-shadow(0 0 2.5px rgba(62,106,255,0.55));
   background-color: #ffffff;
   border: 1px solid #3e6aff;
}
.form1 select{
   padding: 0 16px;
   margin: 10px 0;
   width: 330px;
   height: 40px;
   font-size: 14px;
   cursor: pointer;
   color: #000;
   font-weight: 400;
   border-radius: 3px;
   border: 1px solid #ccc;
   appearance: none;
   outline: none;
   background-color: transparent;
}
.opener {
   position: relative;
   display: inline-block;
}
.highttop{
   margin: 0;
   padding: 0;
}
.highttop input{
   border-radius: 3px;
   border: none;
   background-color: #12d661;
}
.highttop input:hover{
   border: none;
   border-radius: 3px;
   filter: drop-shadow(0px 2px 2.5px rgba(8,118,52,0.35));
   background-color: #07be51;
}
.opener::after{
   content: "";
   position: absolute;
   right: 20px;
   top: 25px;
   border: 4px solid transparent;
   border-bottom-color: #1f222c;
   border-right-color: #1f222c;
   transform: rotate(45deg);
   z-index: -1;
}
.simple_select :first-child option{
   position: relative;
   display: inline-block;
   width: 100%;
}
.form1 textarea{
   padding: 15px 16px;
   width: 330px;
   height: 130px;
   border-radius: 3px;
   font-weight: 400;
   color: #b3b3b3;
   border-color: #ccc;
   resize: horizontal;
}
.registration{
   width: 330px;
   height: 43px;
   border-radius: 3px;
   font-size: 14px;
   font-weight: 700;
   color: #fff;
   border: none;
   cursor: pointer;
   border-radius: 3px;
   background-color: #12d661; 
}
.registration:hover{
   border-radius: 3px;
   filter: drop-shadow(0px 2px 2.5px rgba(8,118,52,0.35));
   background-color: #07be51; 
}
.form_6{
   position: fixed;
   padding-top: 170px;
   padding-right: 270px;
   right: 0;
   top: 0;
}
.exit:checked ~ h2,
.exit:checked~.form6{
   display: none;
}
.exit:checked{
   display: none;
}
.exit{
   position: absolute;
   appearance: none;
   left: 300px;
   bottom: 255px;
   margin: 10px;
   right: 0;
   z-index: 1;
   cursor: pointer;
}
.exit::after,
.exit::before{
   content: "";
   position: absolute;
   width: 10px;
   height: 2px;
   right: 10px;
   transform: rotate(45deg);
   background-color: #b3b3b3;
}
.exit::after{

   transform: rotate(-45deg);

}
.form6 p{
   margin: 0;
   padding: 0;
}
.form6{
   padding: 25px;
   display: inline-block;
   box-sizing: border-box;
   
   z-index: 1;
   width: 310px;
   height: 280px;
   background-color: #fafafa;
   border: none;
   border-radius: 3px;
   font: 400 14px "Roboto";
   filter: drop-shadow(0px 5px 6px rgba(0,0,0,0.15));
}
.form6 i{
   font-style: normal;
   font-size: 13px;
   color: #b3b3b3;
   font-weight: 400;
   font-family: "Roboto";
}
.login{
   margin-top: 5px;
   margin-bottom: 5px;
   width: 265px;
   height: 35px;
}
.login:hover{
   padding: 12px;
   border-radius: 3px;
   filter: drop-shadow(0 0 2.5px rgba(62,106,255,0.55));
   border: 1px solid #3e6aff;
}
.form6 h3{
   font-size: 13px;
   color: #3e6aff;
   font-weight: 400;
   font-family: "Roboto";
}
.right{
   padding-right: 5px;
}
.width input{
   margin: 0;
}
.registration2{
   margin-top: 10px;
   width: 260px;
   height: 43px;
   color: #fff;
   border: none;
   border-radius: 3px;
   background-color: #12d661;
}
.registration2:hover{
   border-radius: 3px;
   filter: drop-shadow(0px 2px 2.5px rgba(8,118,52,0.35));
   background-color: #07be51;
}
.exit::after{
   content: "";
   position: absolute;
   width: 10px;
   height: 2px;
   right: 10px;
   transform: rotate(45deg);
   background-color: #b3b3b3;
}
.exit::before{
   content: "";
   position: absolute;
   width: 10px;
   height: 2px;
   right: 10px;
   transform: rotate(-45deg);
   background-color: #b3b3b3;
}
.form2{
   padding: 45px 0;
}
.first{
   position: relative;
   display: inline-block;
   width: 165px;
   height: 110px;
}
.third p,
.second p,
.first p{
   text-transform: none;
   font-weight: normal;
   color: #1f222c;
}
.second{
   display: inline-block;
   width: 300px;
   height: 110px;
   margin: 0;
   padding: 0;
   color: #1f222c;
}
.third{
   display: inline-block;
   width: 473px;
   height: 110px;
   border-radius: 3px;
   border-color: 1px solid #e5e5e5;
   background-color: #f7f7f7;
}
.third p{
   display: inline-block;
   margin: 20px 15px;
}
.third p :first-child{
   text-transform: none;
   font-weight: normal;
   color: #b3b3b3;
}
.third :last-child{
   padding: 8x;
   border-radius: 3px;
   border-color: #cccccc;
}



