@font-face {
   font-family: 'Roboto';
   src: url('Roboto-Regular.eot');
   src: url('Roboto-Regular.eot?#iefix') format('embedded-opentype'),
       url('Roboto-Regular.woff2') format('woff2'),
       url('Roboto-Regular.woff') format('woff'),
       url('Roboto-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: 'Roboto Slab';
   src: url('../fonts/RobotoSlab-Bold.eot');
   src: url('../fonts/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
       url('../fonts/RobotoSlab-Bold.woff') format('woff'),
       url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
} 
body{
   padding: 50px 100px;
   margin: 0;
   min-width: 960px;
}
input,
select,
textarea{
   box-sizing: border-box;
}
.clear:after{
   content: "";
   display: block;
   clear: both;
}
.wrapper{
   position: relative;
   margin: 0 auto;
   max-width: 960px;
}
.wrapper::after{ 
   content: "";
   position: absolute;
   height: 50px;
   width: 100%;
   border-bottom: 1px solid #dcdcde;
}
.row{
   display: block;
}
.column{
   display: inline-block;
   width: 330px;
   vertical-align: middle;
}
.begining h1{
   padding: 0  0 36px;
   font-size: 30px;
   font-weight: 700;
   text-align: center;
   font-family: "Roboto Slab"; 
   color: #1f222c;
}
.row p{
   font-size: 20px;
   letter-spacing: 0px;
   color: #b3b3b3;
   text-transform: uppercase;
   font-weight: 700;
   font-family: "Arial"; 
}
.forms{
   display: block;
}
.form1 input{
   padding: 0 16px;
   margin: 10px 0;
   width: 330px;
   height: 40px;
   border-color: 1px solid #ccc;
   outline: none;
   font-size: 14px;
   color: #b3b3b3;
   font-weight: 400;
   font-family: "Arial"; 
}
.form1 select{
   padding: 0 16px;
   margin: 10px 0;
   width: 330px;
   height: 40px;
   font-size: 14px;
   cursor: pointer;
   color: #000;
   font-weight: 400;
   font-family: "Arial"; 
   border-radius: 3px;
   border-color: 1px solid #ccc;
   appearance: none;
   outline: none;
}
.simple_select ::after :first-child {
   content: "";
   position: absolute;
   width: 9px;
   height: 5px;
   right: 20px;
   top: 20px;
   border-right: 1px solid #1f222c;
   border-bottom: 1px solid #1f222c;
   transform: rotate(-45deg);
   transition: all 1s ease;
}
.simple_select :first-child option{
   position: relative;
   display: inline-block;
   width: 100%;
}
.form1 textarea{
   padding: 15px 16px;
   width: 330px;
   height: 130px;
   border-radius: 3px;
   font-weight: 400;
   font-family: "Arial"; 
   color: #b3b3b3;
   border-color: #ccc;
   resize: horizontal;
}
input.registration{
   width: 330px;
   height: 43px;
   border: none;
   border-radius: 3px;
   font-size: 14px;
   font-weight: 700;
   font-family: "Arial";
   color: #fff;
   background-color: #12d661; 
   cursor: pointer;
   filter: drop-shadow(0px 2px 2.5px rgba(8,118,52,0.35));
}
.first{
   display: block;
   margin: 0;
   padding: 0;
   font-size: 14px;
   color: #1f222c;
   font-weight: 400;
   font-family: "Arial";
}
.second{
   display: block;
   margin: 0;
   padding: 0;
   font-size: 14px;
   color: #1f222c;
   font-weight: 400;
   font-family: "Arial";
}
.first :last-child{
   font-size: 14px;
   color: #b3b3b3;
}
.second :last-child{
   font-size: 14px;
   color: #b3b3b3;   
}


